@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjord+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu de navegacão */
nav {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  /* Logo tipo*/
  /* Links do menu */
}
nav .logo {
  display: flex;
}
nav .logo a {
  display: flex;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}
nav .logo a i {
  font-size: 2em;
  padding-right: 5px;
}
nav .nav-bar ul {
  display: flex;
}
nav .nav-bar ul li {
  list-style: none;
  padding-right: 100px;
}
nav .nav-bar ul li a {
  text-decoration: none;
  color: #4D8693;
  font-weight: normal;
}
nav .nav-bar ul li:nth-child(4) > a {
  color: #2E4756;
  display: flex;
}
nav .nav-bar ul li:nth-child(4) > a i {
  margin-left: 5px;
  font-size: 1.3em;
}
nav .boll {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #DBE6E9;
  border-radius: 100%;
  transform: translate(200%, -50%);
  z-index: -1;
}
nav .hamburguer {
  transform: rotateY(190deg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}
nav .hamburguer .item-1 {
  width: 50px;
  height: 5px;
  background-color: #2E4756;
  transition: 0.5s ease-in;
}
nav .hamburguer .item-2 {
  margin-top: 5px;
  width: 40px;
  height: 5px;
  background-color: #2E4756;
  transition: 0.5s ease-in;
}
nav .hamburguer .item-3 {
  margin-top: 5px;
  width: 30px;
  height: 5px;
  background-color: #2E4756;
  transition: 0.5s ease-in;
}

/* Banner da nossa aplicação */
main {
  padding: 40px;
  display: grid;
  grid-template-areas: "sociais cont imgs";
  overflow: hidden;
}
main div:nth-child(1) {
  grid-area: cont;
}
main div:nth-child(1) div {
  width: 100%;
  padding: 0px 30px;
}
main div:nth-child(1) div h1 {
  font-family: "Fjord One", serif;
  text-transform: uppercase;
  font-weight: 10;
  text-align: center;
}
main div:nth-child(1) div p {
  font-family: "Poppins", sans-serif;
  color: #4D8693;
  text-align: right;
  width: 80%;
  margin-top: 30px;
}
main div:nth-child(1) div button {
  margin-top: 30px;
  border: none;
  background-color: #DBE6E9;
  color: #4D8693;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 5px 30px;
  float: right;
}
main div:nth-child(2) {
  background-color: #4D8693;
  height: 450px;
  grid-area: sociais;
  display: grid;
  justify-content: bottom;
  align-items: center;
}
main div:nth-child(2) div {
  background-color: #4D8693;
  padding: 10px;
}
main div:nth-child(2) div ul {
  display: block;
}
main div:nth-child(2) div ul li {
  list-style: none;
}
main div:nth-child(2) div ul li a {
  color: #DBE6E9;
  font-size: 30px;
}
main div:nth-child(3) {
  grid-area: imgs;
}
main div:nth-child(3) .tabela {
  position: absolute;
  transform: translate(-10%, 450%);
  font-weight: bold;
  display: block;
  width: 250px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
main div:nth-child(3) .tabela p {
  width: 100%;
  text-align: left;
  padding: 5px;
  color: #FFFF;
  margin: 0px;
  text-shadow: 1px 1px #646464, -1px -1px #646464;
}
main div:nth-child(3) div {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "img01 ." "img01 img02" "img01 img03" "indicator indicator";
}
main div:nth-child(3) div img:nth-child(1) {
  grid-area: img01;
  width: 266px;
  height: 400px;
}
main div:nth-child(3) div img:nth-child(2) {
  grid-area: img02;
  width: 254px;
  height: 169px;
}
main div:nth-child(3) div img:nth-child(3) {
  grid-area: img03;
  width: 254px;
  height: 169px;
}
main div:nth-child(3) div div {
  grid-area: indicator;
  justify-content: start;
  align-items: start;
}
main div:nth-child(3) div div ul {
  display: flex;
}
main div:nth-child(3) div div ul li {
  list-style: none;
}
main div:nth-child(3) div div ul li a {
  text-decoration: none;
  color: #2E4756;
  margin-right: 10px;
}

/* Corpo da pagina */
section {
  padding: 0 10%;
}
section .title h1 {
  font-family: "Fjord One", serif;
  text-transform: uppercase;
  font-weight: 10;
  text-align: center;
}
section .title:before {
  content: "";
  width: 200px;
  height: 50px;
  background-color: black;
}
section .card {
  display: flex;
  margin-top: 150px;
  width: 100%;
}
section .card img {
  width: 476px;
  height: 317px;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 20px 30px black;
}
section .card div {
  display: flex;
  justify-content: end;
  align-items: end;
}
section .card div p {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  width: 80%;
  float: right;
  color: #4D8693;
  justify-content: end;
  align-items: end;
}
section .card .obj2 {
  justify-content: start;
}
section .card .icone {
  position: absolute;
  transform: translate(0, 50px);
  width: 36%;
  height: 20px;
  display: flex;
  justify-content: end;
}
section .card .icone div {
  display: grid;
  grid-template-areas: "tem1 tem1" "tem2 tem4" "tem3 tem4";
}
section .card .icone div div:nth-child(1) {
  grid-area: tem1;
  margin-top: 5px;
  width: 100px;
  height: 3px;
  background-color: #646464;
}
section .card .icone div div:nth-child(2) {
  grid-area: tem2;
  margin-top: 5px;
  width: 60px;
  height: 3px;
  background-color: #646464;
}
section .card .icone div div:nth-child(3) {
  grid-area: tem3;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #646464;
}
section .card .icone div div:nth-child(4) {
  background-color: blue;
  grid-area: tem4;
  margin-left: 40%;
  margin-top: 3px;
  width: 15px;
  height: 15px;
  background-color: #DBE6E9;
}
section .inverse {
  display: grid;
  grid-template-areas: "div1 div2";
}
section .inverse div:nth-child(1) {
  grid-area: div2;
}
section .inverse div:nth-child(2) {
  grid-area: div1;
}

.contact {
  display: grid;
  justify-content: center;
  margin-top: 200px;
}
.contact .title {
  font-family: "Fjord One", serif;
  text-transform: uppercase;
  font-weight: 10;
  text-align: center;
}
.contact .user {
  display: flex;
  width: 100%;
  margin-top: 100px;
  position: relative;
  padding: 50px;
  z-index: 1000;
  background-color: #fff;
}
.contact .user img {
  width: 294px;
  height: 198px;
}
.contact .user div:nth-child(2) {
  padding: 20px;
}
.contact .user div:nth-child(2) h1 {
  font-family: callibri, sans-serif;
  background-color: #DBE6E9;
  color: #2E4756;
  width: 300px;
  padding: 5px;
}
.contact .user div:nth-child(2) p {
  font-family: callibri, sans-serif;
  margin-top: 10px;
  color: #2E4756;
}
.contact .cubo1, .contact .cubo2 {
  width: 209px;
  height: 209px;
  background-color: #646464;
  position: absolute;
}
.contact .cubo1 {
  transform: translate(300px, 135px);
}
.contact .cubo2 {
  transform: translate(835px, 238px);
}

@media screen and (max-width: 800px) {
  .boll {
    display: none;
  }

  nav {
    background-color: #DBE6E9;
    /* Hamburguer */
    /* Toggler do menu */
  }
  nav .nav-bar {
    display: none;
  }
  nav .hamburguer {
    display: block;
  }
  nav .transforma .item-1 {
    transform: rotate(50deg);
    margin-top: 20px;
    width: 25px;
    transition: 0.5s ease-in;
  }
  nav .transforma .item-2 {
    transform: rotate(130deg);
    margin-top: -5px;
    width: 25px;
    transition: 0.5s ease-in;
  }
  nav .transforma .item-3 {
    display: none;
    transition: 0.5s ease-in;
  }
  nav .open-nav {
    position: absolute;
    width: 100%;
    background-color: orange;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DBE6E9;
    border-radius: 20px;
    top: 0;
  }
  nav .open-nav ul {
    display: block;
    width: 100%;
  }
  nav .open-nav ul li {
    margin: 20px 0 20px 0;
    text-align: center;
  }

  /* Resposividade do nosso banner */
  main {
    display: grid;
    grid-template-areas: "sociais cont" ". images";
  }
  main div:nth-child(1) {
    grid-area: cont;
    width: 100%;
  }
  main div:nth-child(2) {
    grid-area: sociais;
  }
  main div:nth-child(3) {
    grid-area: images;
    margin-top: 40px;
    width: 100%;
  }

  .card {
    flex-direction: column;
  }
  .card p {
    width: 100% !important;
    margin-top: 30px;
  }

  .inverse {
    display: grid;
    grid-template-areas: "div2 div2" "div1 div1" !important;
  }
  .inverse div:nth-child(1) {
    grid-area: div2;
    width: 100%;
  }
  .inverse div:nth-child(2) {
    grid-area: div1;
    width: 100%;
    color: blue;
  }
  .inverse div:nth-child(2) p {
    width: 100%;
    margin-top: 30px;
  }
  .inverse .icone {
    width: 80% !important;
  }
}
@media screen and (max-width: 600px) {
  main div:nth-child(1) div {
    margin: 0px;
    width: 100%;
  }
  main div:nth-child(1) div h1 {
    width: 100%;
    font-size: 1.3em;
  }
  main div:nth-child(1) div p {
    display: none;
    text-align: justify-all;
    padding-left: 10px;
    font-size: 1em;
    width: 100%;
  }
  main div:nth-child(3) .tabela {
    transform: translate(-10%, 340%);
  }
  main div:nth-child(3) .tabela p {
    display: block;
    color: #fff;
  }
  main div:nth-child(3) div {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "img01 img01" "img01 img01" "img02 img03" "indicator indicator";
  }
  main div:nth-child(3) div img:nth-child(1) {
    grid-area: img01;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  main div:nth-child(3) div img:nth-child(2) {
    grid-area: img02;
    width: 100%;
    height: 69px;
    object-fit: cover;
    object-position: top;
  }
  main div:nth-child(3) div img:nth-child(3) {
    grid-area: img03;
    width: 100%;
    height: 69px;
    object-fit: cover;
    object-position: top;
  }

  .card div:nth-child(1) img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
